In [5]:
import pandas as pd
import numpy as np

In [7]:
B = pd.DataFrame(np.random.randint(0, 10, (3, 3)),
 columns=list('BAC'))
B

   B  A  C
0  3  6  3
1  8  8  1
2  4  6  1

In [9]:
B = pd.DataFrame(np.random.randint(0, 10, (3, 3)),
 columns=list('BAC'),index=[4,5,6])

In [10]:
B

   B  A  C
4  8  6  6
5  8  9  9
6  4  9  5

In [14]:
s=[2,None,4,5]
s=pd.Series(s)
s.isnull()

0    False
1     True
2    False
3    False
dtype: bool

In [17]:
s.fillna(56)

0     2.0
1    56.0
2     4.0
3     5.0
dtype: float64

In [18]:
s.unstack()

AttributeError: 'RangeIndex' object has no attribute 'remove_unused_levels'

In [20]:
indx=[(1,'y'),(2,'a'),(3,'f'),(4,'n')]
s.reindex(indx)

(1, y)   NaN
(2, a)   NaN
(3, f)   NaN
(4, n)   NaN
dtype: float64

In [21]:
s.unstack()

AttributeError: 'RangeIndex' object has no attribute 'remove_unused_levels'

In [53]:
indx = [('California', 2000), ('California', 2010),
 ('New York', 2000), ('New York', 2010),
 ('Texas', 2000), ('Texas', 2010)]
s=pd.Series(np.random.choice(10,size=6),index=indx)

In [54]:
s

(California, 2000)    2
(California, 2010)    6
(New York, 2000)      0
(New York, 2010)      0
(Texas, 2000)         2
(Texas, 2010)         5
dtype: int32

In [48]:
s.updtack()

AttributeError: 'Series' object has no attribute 'updtack'

In [50]:
s

(California, 2000)    7
(California, 2010)    8
(New York, 2000)      8
(New York, 2010)      6
(Texas, 2000)         3
(Texas, 2010)         7
dtype: int32

In [55]:
indxe=pd.MultiIndex.from_tuples(indx)

In [56]:
s=s.reindex(indxe)

In [57]:
s

California  2000    2
            2010    6
New York    2000    0
            2010    0
Texas       2000    2
            2010    5
dtype: int32

In [58]:
s.upstack()

AttributeError: 'Series' object has no attribute 'upstack'

In [59]:
s.unstack()

            2000  2010
California     2     6
New York       0     0
Texas          2     5

In [61]:
s.index.name(['city','year'])

TypeError: 'NoneType' object is not callable

In [62]:
s.stack()

AttributeError: 'Series' object has no attribute 'stack'

In [63]:
s

California  2000    2
            2010    6
New York    2000    0
            2010    0
Texas       2000    2
            2010    5
dtype: int32

In [64]:
s.index.names = ['state', 'year']

In [65]:
s

state       year
California  2000    2
            2010    6
New York    2000    0
            2010    0
Texas       2000    2
            2010    5
dtype: int32

In [66]:
s.column.names = ['totol']

AttributeError: 'Series' object has no attribute 'column'

In [67]:
s.unstack()

year        2000  2010
state
California     2     6
New York       0     0
Texas          2     5

In [68]:
s

state       year
California  2000    2
            2010    6
New York    2000    0
            2010    0
Texas       2000    2
            2010    5
dtype: int32

In [69]:
s=s.unstack()

In [70]:
s

year        2000  2010
state
California     2     6
New York       0     0
Texas          2     5

In [72]:
s=s.stack()

In [73]:
s

state       year
California  2000    2
            2010    6
New York    2000    0
            2010    0
Texas       2000    2
            2010    5
dtype: int32

In [74]:
s1 = s.reset_index(name='population')

In [75]:
s1

        state  year  population
0  California  2000           2
1  California  2010           6
2    New York  2000           0
3    New York  2010           0
4       Texas  2000           2
5       Texas  2010           5

In [85]:
def make_df(cols):

 data = {c: [str(c) + str(i) for i in len(cols)] for c in cols}
 print(data)
 return pd.DataFrame(data)

In [86]:
make_df('xyz')

TypeError: 'int' object is not iterable

In [82]:
make_df('ABC', range(3))

{'A': ['A0', 'A1', 'A2'], 'B': ['B0', 'B1', 'B2'], 'C': ['C0', 'C1', 'C2']}

    A   B   C
0  A0  B0  C0
1  A1  B1  C1
2  A2  B2  C2

In [78]:
data

NameError: name 'data' is not defined

In [49]:
s.unstack()

AttributeError: 'Index' object has no attribute 'remove_unused_levels'

In [26]:
indx=pd.MultiIndex.from_tuples(index)

In [27]:
indx

MultiIndex([('California', 2000),
            ('California', 2010),
            (  'New York', 2000),
            (  'New York', 2010),
            (     'Texas', 2000),
            (     'Texas', 2010)],
           )

In [30]:
s=s.reindex(indx)

In [31]:
s

California  2000   NaN
            2010   NaN
New York    2000   NaN
            2010   NaN
Texas       2000   NaN
            2010   NaN
dtype: float64

In [32]:
s.unstack()

            2000  2010
California   NaN   NaN
New York     NaN   NaN
Texas        NaN   NaN

In [33]:
s

California  2000   NaN
            2010   NaN
New York    2000   NaN
            2010   NaN
Texas       2000   NaN
            2010   NaN
dtype: float64

In [34]:
s=s.unstack()

In [35]:
s

            2000  2010
California   NaN   NaN
New York     NaN   NaN
Texas        NaN   NaN

In [36]:
s=s.set_inex(['City'])

AttributeError: 'DataFrame' object has no attribute 'set_inex'

In [37]:
s=pd.DataFrame(s)

In [38]:
s

            2000  2010
California   NaN   NaN
New York     NaN   NaN
Texas        NaN   NaN

In [41]:
s.set_index[('city')]

TypeError: 'method' object is not subscriptable

In [ ]:
s

In [29]:
s

0    2.0
1    NaN
2    4.0
3    5.0
dtype: float64

In [9]:
import pandas as pd
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])

In [10]:
pd.concat([ser1,ser2],verify_integrity=True)

1    A
2    B
3    C
4    D
5    E
6    F
dtype: object

In [11]:
def make_df(cols,ind):

 data = {c: [str(c) + str(i) for i in ind] for c in cols}
 print(data)
 return pd.DataFrame(data)

In [16]:
df1=make_df([1,2],[3,4])

{1: ['13', '14'], 2: ['23', '24']}

In [17]:
df2=make_df('AB',[4,6])

{'A': ['A4', 'A6'], 'B': ['B4', 'B6']}

In [24]:
pd.concat([df1,df2],join_axes=[df1.columns])

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [25]:
df1.columns

Int64Index([1, 2], dtype='int64')

In [26]:
pd.concat([df1

TypeError: concat() got an unexpected keyword argument 'join_axes'

In [27]:
df1.appends(df2)

AttributeError: 'DataFrame' object has no attribute 'appends'

In [29]:
df1.append(df2)

     1    2    A    B
0   13   23  NaN  NaN
1   14   24  NaN  NaN
0  NaN  NaN   A4   B4
1  NaN  NaN   A6   B6

In [33]:
df1 = pd.DataFrame({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],
 'group': ['Accounting', 'Engineering', 'Engineering', 'HR']})
df2 = pd.DataFrame({'employee': ['Lisa', 'Bob', 'Jake', 'Sue','Bob'],
 'hire_date': [2004, 2008, 2012, 2014,2020]})
df3 = pd.Dataframe({'employee': ['Bob', 'Jake', 'Lisa', 'Sue'],)

In [34]:
pd.merge(df1,df2)

  employee        group  hire_date
0      Bob   Accounting       2008
1      Bob   Accounting       2020
2     Jake  Engineering       2012
3     Lisa  Engineering       2004
4      Sue           HR       2014

In [35]:
['a', 'b', 'c'] + [1, 2, 3]

['a', 'b', 'c', 1, 2, 3]

In [36]:
type(lambda x: x+1)

function